.serviceCategories {
  margin: 150px 0;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.category:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  width: 40%;
  height: 600px;
}

.categoryText {
  width: 53%;
}

.categoryTitle {
  font-weight: 600;
  font-size: 36px;
}

.services {
  margin-top: 20px;
}

.service {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-neutral-4);
  font-size: 16px;
}

.service:first-child {
  border-top: none;
}

@media (max-width: 800px) {
  .category,
  .category:nth-child(even) {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .categoryText {
    width: 100%;
    margin-top: 40px;
  }
}
