article {
  margin: 100px 0;
}

.cover {
  width: 100%;
  padding-top: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.date {
  margin-top: 20px;
  display: block;
}

h1 {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  /* line-height: 49px; */
}

.description {
  margin-top: 20px;
}

.fbLink {
  padding: 5px 0;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-neutral-9);
  border-bottom: solid 1px var(--color-neutral-9);
}

.fbLink .text {
  display: block;
}

.fbLink img {
  margin-left: 5px;
  height: 14px;
}

@media (max-width: 800px) {
  .cover {
    padding-top: 60%;
  }
}
