.notice {
  padding: 18px 30px;
  background-color: var(--color-primary-1);
  margin: 50px 0;
}

.articleImage {
  height: 500px;
}

.promote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
}

.promoteImage {
  width: 40%;
  height: auto;
}

.promote .text {
  width: 60%;
  margin-left: 50px;
}

.promote .text h2 {
  font-weight: 600;
  font-size: 30px;
}

.promote .text p {
  line-height: 2;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .articleImage {
    height: 300px;
  }

  .promote {
    flex-direction: column;
  }

  .promoteImage,
  .promote .text {
    width: 80%;
  }

  .promote .text {
    margin: 40px 0 0;
  }
}
