.banner {
  width: 100%;
  min-height: 500px;
  display: flex;
}

.banner .whitenImage {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.banner .text {
  padding: 4vw 8vw;
  max-width: 1100px;
  width: 100%;
  text-align: right;
  box-sizing: content-box;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.banner .title {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  width: 60%;
}

.banner .description {
  font-size: 20px;
  margin-top: 20px;
  width: 60%;
}

.section {
  margin: 120px 0;
  width: 75%;
}

.sectionWithImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sectionWithImage:nth-child(even) {
  flex-direction: row-reverse;
}

.sectionWithImage .image {
  width: 40%;
  max-height: 600px;
}

.sectionWithImage .text {
  width: 53%;
}

.section .title {
  font-weight: 600;
  font-size: 36px;
}

.section .description {
  margin-top: 30px;
  line-height: 1.8;
}

@media (max-width: 800px) {
  .banner {
    min-height: 300px;
  }

  .banner .text {
    max-width: 100%;
  }

  .banner .title {
    font-size: 30px;
    width: 100%;
  }

  .banner .description {
    width: 100%;
  }

  .section {
    max-width: 100%;
  }

  .sectionWithImage,
  .sectionWithImage:nth-child(even) {
    flex-direction: column;
  }

  .sectionWithImage .image {
    width: 100%;
    max-height: 400px;
  }

  .sectionWithImage .text {
    width: 100%;
  }

  .section .title {
    margin-top: 30px;
  }

  .sectionWithImage .description {
    margin-top: 20px;
  }
}
