.intro {
  margin: 80px 0 60px;
  display: flex;
}

.text {
  margin-right: 50px;
}

.pageName {
  font-weight: normal;
  font-size: 16px;
}

.title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 45px;
}

.description {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 300;
}

.image {
  width: 100%;
  max-width: 520px;
  max-height: 350px;
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column-reverse;
  }

  .text {
    margin: 0;
  }

  .image {
    height: 300px;
    max-width: 100%;
  }
}
