.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: var(--color-neutral-1);
  padding: 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bennaLogo,
.nmStyleLogo {
  display: block;
  width: 200px;
}

.url,
.disappears,
.becomes {
  display: block;
  text-align: center;
}

.url {
  font-size: 16px;
  font-style: italic;
}

.disappears,
.becomes {
  font-size: 36px;
  margin-top: 20px;
}

.note {
  color: var(--color-neutral-6);
  margin-top: 20px;
  max-width: 400px;
  text-align: center;
}

.button,
.url,
.bennaLogo,
.nmStyleLogo {
  margin-top: 40px;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
    max-height: 0;
  }
  20% {
    opacity: 1;
    max-height: 100px;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    max-height: 100px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  30% {
    opacity: 0.3;
    max-height: 200px;
  }
  100% {
    opacity: 1;
  }
}

.bennaLogo {
  animation-name: fadeInAndOut;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 4s;
}

.disappears {
  animation-name: fadeInAndOut;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 2s;
}

.becomes {
  animation-name: fadeInAndOut;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 4s;
}

.nmStyleLogo {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 6s;
}

.button {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 8s;
}

.note {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 8.5s;
}
