html {
}

body {
  --color-neutral-1: #ffffff;
  --color-neutral-2: #f4f4f4;
  --color-neutral-3: #ebebeb;
  --color-neutral-4: #d6d6d6;
  --color-neutral-5: #adadad;
  --color-neutral-6: #7a7a7a;
  --color-neutral-7: #4d4d4d;
  --color-neutral-8: #2e2e2e;
  --color-neutral-9: #000000;
  --color-primary-1: #eaeed2;
  --color-primary-2: #cddf95;
  --color-primary-3: #88b767;
  --color-primary-4: #477f53;

  font-family: Cairo, sans-serif;
  font-size: 14px;
}
